
Library
Logs
*.dwlt
.vsconfig
Temp
.vs
.vscode
obj
Assets/StreamingAssets/models 
sherpa-onnx/.vs
sherpa-onnx/bin
sherpa-onnx/obj
Assembly-CSharp.csproj
sherpa-onnx-unity.sln 
*.csproj
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.meta
